@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --body-bg-color: #1d2135;
  --primary-color: #a5afd4;
  --default-width: 400px;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--body-bg-color);
  color: var(--primary-color);
}

h1{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;

  width: 100%;
  text-align: center;
  color: var(--primary-color);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary-color);
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  
  padding-bottom: 1rem;
}

nav a{
  text-decoration: none;
  color: var(--primary-color);
}

h2{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--primary-color);
  text-align: start;
  width: 100%;
}

figure{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  font-style: italic;
  margin-bottom: 1rem;
}

figure img{
  border-radius: .75rem;
  border: 1px solid var(--primary-color);
  padding: .5rem;
}

p{
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: .75rem;
}

aside{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: 3rem;
  position: relative;
}

aside img{
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  padding: .5rem;
}

aside::before{
  content: '';
  width: 50%;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  top: -1.5rem;
}