@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');

:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
  --w-container: 1200px;
}

* {  margin: 0; padding: 0; box-sizing: border-box;  font-family: 'Poppins', sans-serif; }

body{
  background-color: var(--light-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

hr{
  width: 100%;
  border: 1px solid #F2E7FA;
}

img{ max-width: 100%; }

.cover{
  background-color: var(--purple-bg);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 5px solid var(--green);
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  padding: 2rem 1rem;
  max-width: var(--w-container);
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

nav a{
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  border-left: 2px solid transparent;
  padding-left: .5rem;
  transition: border .2s ease;
}

nav a.active, nav a:hover{
  border-left: 2px solid var(--green);
  font-weight: 700;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input{
  max-width: 200px;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--white);
  background-color: var(--dark-bg);
}

.search button{
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0 .25rem .25rem 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--white);
  background-color: var(--button-bg);
  cursor: pointer;
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--w-container);
  padding: 3rem 1rem;
  gap: 2rem;
}

.informations h1{
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--button-bg);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.content p{
  font-size: 1.12rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--light-purple);
  margin-bottom: 1rem;
}

.content a{
  text-decoration: none;
  color: var(--button-bg);
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  transition: border .2s ease;
  display: flex;
  align-items: center;
  gap: .5rem
}

.content a img{
  animation: arrow-bounce 1.5s infinite;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: var(--w-container);
  gap: 1.5rem;
  padding-bottom: 4rem;
}

.row-top, .row-down{
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  gap: 4rem;
  margin-top: 2rem;
}

.row-down{
  gap: 1rem;
}

.card-post{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: .5rem;
  max-width: 570px;
}

.post-date{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-family: 'Roboto', sans-serif;
}

.post-title{
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  color: var(--purple-bg);
}

.post-description{
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.text-posts{
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

@keyframes arrow-bounce {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(-5px);
  }
  100% {
    transform: translatex(0);
  }
}
@media only screen and (max-width: 768px) {
  header{
    flex-direction: column;
  }

  .content{
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 2.5rem;
  }
  
  .row-top, .row-down{
    flex-direction: column-reverse;
    padding: 0 1rem;
  }

  .card-post{
    align-items: center;
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .card-post p{
    text-align: center;
  }
}