@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
  --mw: 1200px;
}

*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Montserrat', sans-serif; scroll-behavior: smooth;}

body{
  background-color: var(--body-background);
  color: var(--text-color);
}

section.header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header--container-bg{
  background-image: url('./assets/background.png');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3rem 2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  max-width: var(--mw);
  width: 100%;
}

header nav{
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 2rem;
}

header nav a{
  text-decoration: none;
  font-size: .85rem;
  color: var(--text-color);
}

header button.connect{
  background-color: var(-text);
  color: var(--black-text);
  border: none;
  padding: .25rem .75rem;
  font-size: .85rem;
  font-weight: 700;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.header--content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: var(--mw);
}

.header--content--informations{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  gap: 2rem
}

.header--content--informations--col-1{
  display: flex;
  align-items: self-start;
  justify-content: start;
  flex-direction: column;
  gap: 3rem
}

.header--content--informations--col-1 p{
  font-size: 1.1rem;
  font-weight: 300;
}

.header--content--informations--col-1--artists{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}

.header--content--informations--col-1--artists--info{
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  gap: .5rem;
}

.header--content--informations--title{
  font-size: 3.12rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.header--content--informations--title span{
  color: var(--color-logo);
}

.header--content--galery{
  display: flex;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  flex-wrap: wrap;
  gap: .5rem
}

.header--content--galery img{
  width: 100%;
  height: 100%;
  max-width: calc((100% / 4) - .5rem);
  border: 1px solid white;
}

.header--footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--subtitle-color);
}

.header--footer--container{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  max-width: var(--mw);
}

.header--footer--aside{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 5rem 7rem 0;
  gap: 3rem;
  border-right: 1px solid var(--subtitle-color);
}

.header--footer--aside--info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .15rem;
}

.header--footer--aside--info span{
  font-size: 3rem;
  font-weight: 500;
}

.header--footer--aside--info small{
  font-size: 1rem;
  font-weight: 500;
  color: var(--subtitle-color);
}

.header--footer--main{
  flex: 1;
  min-height: 100%;
  gap: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.header--footer--main--links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 0 rem;
  height: 100%;
}

.header--footer--main--links-card{
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 3rem;
  flex-direction: column;
}

.header--footer--main--links-card p{
  font-size: 1.1rem;
  font-weight: 400;
}

.header--footer--main--links-card p a{
  color: var(--color-logo);
}

.header--footer--main--links-card a{
  color: var(--text-color);
}

.popular{
  width: 100%;
  display: flex;
  align-items: self-start;
  justify-content: center;
}

.popular--container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: var(--mw);
  padding: 7rem 0 3rem 0;
}

.popular--container h1{
  width: 100%;
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 5rem;
}

.popular--container h1 span{
  color: var(--color-logo);
}

.popular--cards{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular--detail{
  display: flex;
  width: 2px;
  min-height: 720px;
  background-color: var(--subtitle-color);
}

.popular--cards--col{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
}

.popular--card{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: .75rem;
}

.popular--card--title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--text-color);
}

.popular--card--subtitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

.popular--card--subtitle-name{
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--subtitle-color);
}

.popular--card--subtitle-rkt{
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--color-logo);
}

.artists{
  width: 100%;
  display: flex;
  align-items: self-start;
  justify-content: center;
}

.artists--container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: var(--mw);
  padding: 5rem 0 7rem 0;
}

.artists--container h1{
  width: 100%;
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 5rem;
  text-align: center;
}

.artists--container h1 span{
  color: var(--color-logo);
}

.artists--cards{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.artists--card{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  max-width: calc((100% / 3) - 5rem);
  background-color: var(--card-color);
  padding: 1rem 2rem;
}

.artists--card--active{
  background-color: var(--color-logo);
}

.artists--card--active .artists--card--info-photos{
  color: var(--text-color);
}

.artists--card--info{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: .5rem;
}

.artists--card--info-photos{
  color: var(--color-logo);
}

.artists--see-all{
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
  gap: 1rem;
  font-weight: 400;
}

footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0;
  background-color: var(--card-color);
}

.footer--header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--subtitle-color);
}

.footer--header--container{
  width: 100%;
  max-width: var(--mw);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 3rem 0;
}

.footer--button-top{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  min-width: 5rem;
  max-height: 5rem;
  background-color: var(--color-logo);
  cursor: pointer;
}

.footer--main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--subtitle-color);
}

.footer--main--container{
  width: 100%;
  max-width: var(--mw);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer--main--news{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  border-right: 1px solid var(--subtitle-color);
  padding: 3rem 4rem 3rem 0;
}

.footer--main--news h3{
  font-size: 1.8rem;
}

.footer--main--news h3 span{
  color: var(--color-logo);
}

.footer--main--news form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer--main--news form input{
  width: 100%;
  padding: .75rem 1rem;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--color-input);
}

.footer--main--news form input::placeholder{
  color: var(--subtitle-color);
}

.footer--main--news form button{
  padding: .85rem 1.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-input);
  background-color: white;
  cursor: pointer;
}

.footer--main--links{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 3rem 4rem;
}

.footer--main--links--group{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: .75rem;
  padding: 0 2rem;
}

.footer--main--links--group h4{
  font-size: 1.1rem;
  font-weight: 700;
  width: 100%;
}

.footer--main--links--group ul{
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  gap: .75rem;
  list-style: none;
  width: 100%;
}

.footer--main--links--group ul li a{
  color: var(--subtitle-color);
  text-decoration: none;
}

.footer--bottom{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  max-width: var(--mw);
}

.footer--bottom a{
  color: var(--subtitle-color);
  text-decoration: none;
}

.footer--social-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (max-width: 768px){
  header{
    flex-direction: column;
    gap: 1.5rem;
  }

  .header--content--informations{
    flex-direction: column;
    gap: 1.5rem;
  }

  .header--content--galery img{
    max-width: calc((100% / 2) - .5rem);
  }

  .header--footer--container{
    flex-direction: column;
    gap: 1.5rem;
  }

  .header--footer--aside{
    flex-direction: row;
    gap: 1.5rem;
    padding: 3rem 2rem 1rem 2rem;
    width: 100%;
  }

  .header--footer--main--links{
    flex-direction: column;
    padding: 0 2rem;
    gap: 2rem;
  }

  .header--footer--main--links-card{
    gap: 1rem;
  }

  .header--footer--main--links-card p{
    text-align: justify;
  }

  .header--footer--main img{
    min-height: 250px;
    object-fit: cover;
  }

  .popular--container{
    padding-top: 2rem;
  }

  .popular--container h1{
    text-align: center;
    margin-bottom: 3rem;
  }

  .popular--cards{
    width: 100%;
    flex-direction: column;
  }

  .popular--detail{ display: none; }

  .artists--container{
    padding-top: 2rem;
  }

  .artists--container h1{
    text-align: center;
    margin-bottom: 3rem;
  }

  .artists--cards{
    gap: 2rem
  }

  .artists--card{
    max-width: calc(100% - 5rem);
  }

  footer{
    padding: 1rem 0 2rem 0;
  }

  .footer--header--container{
    padding: 2rem;
  }

  .footer--button-top{
    max-width: 1.5rem;
    max-height: 3rem;
  }

  .footer--main--container{
    flex-direction: column;
    gap: 2rem;
  }

  .footer--main--news{
    width: 100%;
    padding: 3rem 2rem;
    border-right: none;
    border-bottom: 1px solid var(--subtitle-color);
  }

  .footer--main--links--group{
    padding: 0;
  }

  .footer--main--links{
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
    gap: 1rem;
  }

  .footer--bottom{
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 0 1rem 0;
  }
}